@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400;1,500&display=swap');
@import "../../node_modules/bootstrap/scss/bootstrap.scss";

body {
    font-family: 'Roboto', sans-serif;
}
.Lato {
    font-family: 'Lato', sans-serif;
}

.contacttext {
    width: 100%;
    height: auto;
    overflow-y: auto;
    .contact-detail {
        h5 {
            color: #BFF747;
        }
    }
    .SocialIcon {
        .icon {
            width: 50px;
            height: 50px;
            cursor: pointer;
            transition: all 0.6s ease-in-out;
            &:hover {
                background-color: #BFF747;
            }
            img {
                width: 40%;
                height: 40%;
                color: white;
            }
        }
    }
}

.contactFormList {
    input {
        outline: none;
        background-color: transparent;
        border: 1px solid #999;
        color: white;
        padding-left: 10px;

        &::placeholder {
            color: white;
            padding-left: 10px;
        }
    }

    textarea {
        outline: none;
        background-color: transparent;
        border: 1px solid #999;
        color: white;
        padding-left: 10px;
        height: 150px;

        &::placeholder {
            color: white;
            padding-left: 10px;
        }
    }

    button {
        background-color: #BFF747;
    }
}